body {
    color: #003153;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

img {
    width: 100%;
}

a {
    /* display: block; */
    color: #003153;
    text-decoration: none;
}

a:hover {
    color: #0275c7;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

.text-right {
    text-align: right;
}

.wrapper {
    margin: auto;
    width: 90%;
}

div {
    overflow-wrap: normal;
}

/*Header related CSS*/
header {
    position: fixed;
    left: 0;
    right: 0;
    min-height: 40px;
    z-index: 1;
    box-shadow: rgb(33 35 38 / 26%) 0px 14px 14px -10px;
    background: white;
    padding: 0;
    margin: 0;
}

.logo {
    margin: 16px 0;
    width: 20%;
    float: left;
}

.logo a {
    height: 100%;
    margin: auto;
}

.logo a img {
    display: block;
    height: 36px;
    margin: auto;
}

nav {
    float: right;
    width: 70%;
    text-align: right;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    padding: 8px 16px;
    text-transform: capitalize;
    color: #003153;
    font-weight: bolder;
    font-size: 1.5vw;
}

/*service section*/
.services {
    text-align: center;
    padding: 120px 0 24px 0px;
}

.services h1 {
    margin: 36px 0 0 0;
}

.services h1 span {
    color: #0c66ff;
}

/*image section*/
.image-section {}

.image-section img {
    height: 400px;
    margin: 0 auto;
    display: block;
}


/*about-section*/
.about-section {
    margin: 64px 0;
}

.about-column {
    float: left;
    width: 50%;
}

.about {
    padding: 30px;
}

.customer-count {
    color: red;
}


/*Blog section*/
.blog-section {
    padding: 64px 0;
}

.blog-column {
    float: left;
    width: 33.3%;

}

.blog-card {
    border-radius: 16px;
    padding: 24px;
    margin: 8px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog-card img {
    height: 160px;
    padding: 10px 0;
}

.blog-card-one {
    background: rgba(255, 0, 0, 0.1);
}

.blog-card-one:hover {
    background-color: rgb(255, 223, 184, 0.7);
    box-shadow: rgba(255, 223, 184, 0.36) 0px 6px 8px;
}

.blog-card-two {
    background: rgba(0, 255, 0, 0.1);
}

.blog-card-two:hover {
    background-color: rgb(184, 255, 221, 0.7);
    box-shadow: rgba(184, 255, 221, 0.36) 0px 6px 8px;
}

.blog-card-three {
    background: rgba(255, 255, 0, 0.1);
}

.blog-card-three:hover {
    background-color: rgba(195, 255, 184, 0.7);
    box-shadow: rgba(195, 255, 184, 0.36) 0px 6px 8px;
}

.blog-card h3 {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

/*contact related CSS*/

.contact {
    background: #80808020;
    height: 300px;
    padding: 64px 0;
}

.contact-column {
    float: left;
    width: 25%;
}

.contact-column-body {}

.contact-column-body h3 {
    margin: 12px 0;
}

.contact-column-body ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.contact-column-body li {
    list-style-type: none;
    line-height: 28px;
}
